S3method(cumsum,ignore)
S3method(merge,lines)
S3method(str,at.pos)
S3method(str,blocks.pos)
S3method(str,detect)
S3method(str,ends.with)
S3method(str,extract.all)
S3method(str,extract.first)
S3method(str,find)
S3method(str,inpos)
S3method(str,left)
S3method(str,left.of)
S3method(str,len)
S3method(str,list.to.regexp.or)
S3method(str,locate.all)
S3method(str,locate.at.end)
S3method(str,locate.at.start)
S3method(str,locate.first)
S3method(str,matches.pattern)
S3method(str,remove.ends)
S3method(str,remove.ignore)
S3method(str,replace)
S3method(str,replace.at.pos)
S3method(str,replace.by.blocks)
S3method(str,replace.list)
S3method(str,right)
S3method(str,right.of)
S3method(str,space)
S3method(str,split)
S3method(str,split.at.pos)
S3method(str,starts.with)
S3method(str,tokenize)
S3method(str,trim)
export(char.matrix.to.str)
export(char.vector.to.str)
export(combine.pos.and)
export(combine.pos.list.and)
export(get.ignore)
export(has.substr)
export(ignore.and.complement.pos)
export(ignore.to.pos)
export(pos.complement)
export(pos.to.ignore)
export(pos.with.complement)
export(regexp.fixed)
export(sep.lines)
export(to.char.matrix)
export(to.char.vector)
