export(char.matrix.to.str)
export(char.vector.to.str)
export(combine.pos.and)
export(combine.pos.list.and)
export(cumsum.ignore)
export(get.ignore)
export(has.substr)
export(ignore.and.complement.pos)
export(ignore.to.pos)
export(merge.lines)
export(pos.complement)
export(pos.to.ignore)
export(pos.with.complement)
export(regexp.fixed)
export(sep.lines)
export(str.at.pos)
export(str.blocks.pos)
export(str.detect)
export(str.ends.with)
export(str.extract.all)
export(str.extract.first)
export(str.find)
export(str.inpos)
export(str.left)
export(str.left.of)
export(str.len)
export(str.list.to.regexp.or)
export(str.locate.all)
export(str.locate.at.end)
export(str.locate.at.start)
export(str.locate.first)
export(str.matches.pattern)
export(str.remove.ends)
export(str.remove.ignore)
export(str.replace)
export(str.replace.at.pos)
export(str.replace.by.blocks)
export(str.replace.list)
export(str.right)
export(str.right.of)
export(str.space)
export(str.split)
export(str.split.at.pos)
export(str.starts.with)
export(str.tokenize)
export(str.trim)
export(to.char.matrix)
export(to.char.vector)
