export(char.matrix.to.str)
export(char.vector.to.str)
export(cumsum.ignore)
export(get.ignore)
export(has.substr)
export(ignore.and.complement.pos)
export(ignore.to.pos)
export(merge.lines)
export(pos.complement)
export(pos.to.ignore)
export(pos.with.complement)
export(regexp.fixed)
export(sep.lines)
export(str.at.pos)
export(str.blocks.pos)
export(str.detect)
export(str.extract.all)
export(str.extract.first)
export(str.left)
export(str.len)
export(str.list.to.regexp.or)
export(str.locate.all)
export(str.locate.first)
export(str.remove.ends)
export(str.remove.ignore)
export(str.replace)
export(str.replace.at.pos)
export(str.right)
export(str.split)
export(str.split.at.pos)
export(str.starts.with)
export(to.char.matrix)
export(to.char.vector)
